@model ZenithCardRepo.Data.Models.Institution
@{
    ViewBag.Title = "CreateInstitution";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="row">
        <div class="col-xs-12">
            <div class="page-title-box">
                <h4 class="page-title">Institution Edit</h4>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <div class="card-box">
                <!---Validation msg start-->
                <div class="row">
                    @if (ViewData?.ModelState[""]?.Errors?.Any() == true) //@ViewBag.Error != null
                    {
                        <div class="alert alert-icon alert-danger alert-dismissible fade in" role="alert">
                            <button type="button" class="close" data-dismiss="alert"
                                    aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                            <i class="mdi mdi-block-helper"></i>
                            @Html.ValidationSummary()
                        </div>

                    }
                    @if (TempData["Message"] as string == "Success")
                    {
                        <div class="alert alert-icon alert-success alert-dismissible fade in" role="alert">
                            <button type="button" class="close" data-dismiss="alert"
                                    aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                            <i class="mdi mdi-check-all"></i>
                            <span>Instituion was successfully updated</span>
                        </div>
                    }
                </div>
                <!---Validation msg end-->
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <div class="col-md-8">
                                @Html.HiddenFor(m => m.ID)
                                @Html.LabelFor(m => m.Name, new { @class = "control-label" })
                                @Html.EditorFor(m => m.Name, new { htmlAttributes = new { @class = "form-control" } })
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-8">
                                @Html.LabelFor(m => m.Code, new { @class = "control-label" })
                                @Html.EditorFor(m => m.Code, new { htmlAttributes = new { @class = "form-control" } })
                            </div>
                        </div>
                    </div>

                    <button type="submit" class="btn btn-purple waves-effect waves-light pull-right">Submit</button>

                </div>
            </div>
        </div>
    </div>
}

