@model IEnumerable<ZenithCardRepo.Data.Models.Permission>
@{
    ViewBag.Title = "Search Result";
}

@using (Html.BeginForm())
{
    <div class="row">
        <div class="col-xs-12">
            <div class="page-title-box">
                <h4 class="page-title">Permissions</h4>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <div class="col-md-12">
                @Html.ActionLink("Create", "Create", "Permission", null, null)
            </div>
            <div class="card-box table-responsive">
                @if (TempData["Message"] as string == "Success")
                {
                    <div class="alert alert-icon alert-success alert-dismissible fade in" role="alert">
                        <button type="button" class="close" data-dismiss="alert"
                                aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <i class="mdi mdi-check-all"></i>
                        <span>Permission was successfully added</span>
                    </div>
                }
                @{
                    int i = 0;
                }

                <table id="tblPermission" class="table table-striped table-bordered">
                    <thead>
                        <tr>
                            <th>S/N..</th>
                            <th>Name</th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>

                    <tbody>
                        @if (Model.ToList()?.Count > 0)
                        {
                            foreach (var item in Model)
                            {
                                <tr>
                                    <td>@(i = i + 1)</td>
                                    <td>@Html.DisplayFor(m => item.Name)</td>
                                    <td>@Html.ActionLink("Edit", "PermissionEdit", "Permission", new { ID = item.ID }, null)</td>
                                    <td>@Html.ActionLink("Delete", "PermissionDelete", "Permission", new { ID = item.ID }, new { onClick = " return confirm('Are you sure you want to delete?');" })</td>
                                </tr>
                            }
                        }
                        else
                        {
                            <tr>
                                <td colspan="4" style="text-align:center;">No Permissions available</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>


}
@section Scripts{
    <script>
        $(function () {
            $("#tblPermission").dataTable();
        });
    </script>
}