@model ZenithCardRepo.Data.IdentityModels.ApplicationUser
@{
    ViewBag.Title = "UserEdit";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="row">
        <div class="col-xs-12">
            <div class="page-title-box">
                <h4 class="page-title">User Edit</h4>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <div class="card-box">
                <!---Validation msg start-->
                <div class="row">
                    @if (ViewData?.ModelState[""]?.Errors?.Any() == true) //@ViewBag.Error != null
                    {
                        <div class="alert alert-icon alert-danger alert-dismissible fade in" role="alert">
                            <button type="button" class="close" data-dismiss="alert"
                                    aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                            <i class="mdi mdi-block-helper"></i>
                            @Html.ValidationSummary()
                        </div>

                    }
                    @if (TempData["Message"] as string == "Success")
                    {
                        <div class="alert alert-icon alert-success alert-dismissible fade in" role="alert">
                            <button type="button" class="close" data-dismiss="alert"
                                    aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                            <i class="mdi mdi-check-all"></i>
                            <span>User was successfully updated</span>
                        </div>
                    }
                </div>
                <!---Validation msg end-->
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <div class="col-md-8">
                                @Html.HiddenFor(m => m.Id)
                                @Html.LabelFor(m => m.UserName, new { @class = "control-label" })
                                @Html.EditorFor(m => m.UserName, new { htmlAttributes = new { @class = "form-control" } })
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-8">
                                @Html.Label("Institution", new { @class = "control-label" })
                                @Html.DropDownListFor(m => m.InstitutionID, ViewData["Institution"] as SelectList, "----Select---", new { @class = "form-control select2" })
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-8">
                                @Html.LabelFor(m => m.Email, new { @class = "control-label" })
                                @Html.EditorFor(m => m.Email, new { htmlAttributes = new { @class = "form-control" } })
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-8">
                                @Html.LabelFor(m => m.FirstName, new { @class = "control-label" })
                                @Html.EditorFor(m => m.FirstName, new { htmlAttributes = new { @class = "form-control" } })
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-8">
                                @Html.LabelFor(m => m.MiddleName, new { @class = "control-label" })
                                @Html.EditorFor(m => m.MiddleName, new { htmlAttributes = new { @class = "form-control" } })
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-8">
                                @Html.LabelFor(m => m.LastName, new { @class = "control-label" })
                                @Html.EditorFor(m => m.LastName, new { htmlAttributes = new { @class = "form-control" } })

                                @Html.HiddenFor(m => m.DateCreated)
                                @Html.HiddenFor(m => m.CreatedBy)
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-8">
                                @Html.LabelFor(m => m.IsDisabled, new { @class = "control-label" })
                                @Html.CheckBoxFor(m => m.IsDisabled)
                            </div>
                        </div>
                    </div>
                    <hr />
                    <h4>Roles</h4>
                    <hr />

                    @{
                        var UserRole = ViewBag.UserRoles as List<ZenithCardPerso.Web.Models.UserRoleViewModel>;
                    }
                    @for (int i = 0; i < UserRole.Count(); i++)
                    {
                        <div class="row">
                            <div class="form-group">
                                <div class="col-md-1">
                                    @Html.CheckBox("UserRole[" + @i + "].SelectedRole", UserRole[i].SelectedRole)
                                </div>
                                <div class="col-md-6">
                                    @Html.TextBox("UserRole[" + @i + "].Role", UserRole[i].Role, new { @readonly = "readonly", @class = "qty readonly" })
                                </div>
                            </div>
                            <br />
                        </div>
                    }
                    <button type="submit" class="btn btn-purple waves-effect waves-light pull-right">Submit</button>

                </div>
            </div>
        </div>
    </div>
}

@section Scripts{
    <script>
        $(function () {
            $("#InstitutionID").select2();
        });
    </script>
}