@model IEnumerable<ZenithCardRepo.Data.IdentityModels.ApplicationUser>
@{
    ViewBag.Title = "Users";
}

@using (Html.BeginForm())
{
    <div class="row">
        <div class="col-xs-12">
            <div class="page-title-box">
                <h4 class="page-title">Users</h4>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <div class="col-md-12">
                @Html.ActionLink("Create", "CreateUser", "Account", null, null)
            </div>
            <div class="card-box table-responsive">
                @if (TempData["Message"] as string == "Success")
                {
                    <div class="alert alert-icon alert-success alert-dismissible fade in" role="alert">
                        <button type="button" class="close" data-dismiss="alert"
                                aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <i class="mdi mdi-check-all"></i>
                        <span>Department was successfully updated</span>
                    </div>
                }
                @{
                    int i = 0;
                }

                <table id="tblRegistrations" class="table table-striped table-bordered">
                    <thead>
                        <tr>
                            <th>S/N..</th>
                            <th>Name</th>
                            <th>User</th>
                            <th></th>
                            <th></th>

                        </tr>
                    </thead>

                    <tbody>
                        @if (Model.ToList()?.Count > 0)
                        {
                            foreach (var item in Model.ToList())
                            {
                                <tr>
                                    <td>@(i = i + 1)</td>
                                    <td>@Html.DisplayFor(m => item.FullName)</td>
                                    <td>@Html.DisplayFor(m => item.UserName)</td>
                                    <td>@Html.ActionLink("Edit", "UserEdit", "Account", new { ID = item.Id }, null)</td>
                                    <td>@Html.ActionLink("Reset Password", "ResetPassword", "Account", new { email = item.Email }, null)</td>
                                </tr>
                            }
                        }
                        else
                        {
                            <tr>
                                <td colspan="3" style="text-align:center;">No Departments available</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>


}

