@model IEnumerable<ZenithCardRepo.Data.DTOs.CardApplicationsDTO>
@{
    ViewBag.Title = "Search Result";
}

<hr />
@using (Html.BeginForm())
{


    <div class="row">
        <div class="col-sm-12">
            <div class="card-box table-responsive">
                @if (TempData["Message"] as string == "Success")
                {
                    <div class="alert alert-icon alert-success alert-dismissible fade in" role="alert">
                        <button type="button" class="close" data-dismiss="alert"
                                aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <i class="mdi mdi-check-all"></i>
                        <span>Card Application Download was successful <a href="@Url.Action("ViewProcessedCards","CardApplication")">Click to view downloads</a></span>
                    </div>
                }
                @{
                    var cardApps = Model?.ToList();
                }
                
                <table id="tblSearcResults" class="table table-striped table-bordered">
                    <thead>
                        <tr>
                            <th></th>
                            <th>Full Name</th>
                            <th>Office Phone No</th>
                            <th>Sex</th>
                            <th>Requesting Branch Code</th>
                            <th>Is Completed</th>
                            <th></th>
                        </tr>
                    </thead>

                    <tbody>
                        @if (Model?.ToList().Count > 0)
                        {
                            for (int i = 0; i < cardApps.Count(); i++)
                            {
                                <tr>
                                    @Html.Hidden("cardApps[" + @i + "].ID", cardApps[i].ID)
                                    <td>@Html.CheckBox("cardApps[" + @i + "].IsSelected", cardApps[i].IsSelected)</td>
                                    <td>@Html.TextBox("cardApps[" + @i + "].FullName", cardApps[i].FullName, new { @readonly = "readonly", @class = "qty readonly" })</td>
                                    <td>@Html.TextBox("cardApps[" + @i + "].OfficePhoneNo", cardApps[i].OfficePhoneNo, new { @readonly = "readonly", @class = "qty readonly" })</td>
                                    <td>@Html.TextBox("cardApps[" + @i + "].Sex", cardApps[i].Sex, new { @readonly = "readonly", @class = "qty readonly" })</td>
                                    <td>@Html.TextBox("cardApps[" + @i + "].RequestingBranchCode", cardApps[i].RequestingBranchCode, new { @readonly = "readonly", @class = "qty readonly" })</td>
                                    <td>@Html.CheckBox("cardApps[" + @i + "].IsProcessed", cardApps[i].IsProcessed, new { @disabled = "disabled" })</td>
                                    <td>@Html.ActionLink("Edit","CardApplicationEdit","CardApplication",new {ID=cardApps[i].ID },null)</td>
                                </tr>
                            }
                        }
                        else
                        {
                            <tr>
                                <td colspan="7" style="text-align:center;">No Cards to be processed</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
}

